@model TransApp.Models.Translation

@{
    ViewBag.Title = "AddTranslation";
}

<h2>AddTranslation</h2>


@using (Html.BeginForm("AddTranslation", "Video", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Translation</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.vID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vID)
                @Html.ValidationMessageFor(model => model.vID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.translationCategory, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.translationCategory, ViewBag.requestLanguage as List<SelectListItem>)
                @Html.ValidationMessageFor(model => model.translationCategory)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.translationName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.translationName)
                @Html.ValidationMessageFor(model => model.translationName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.translationDescription, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.translationDescription)
                @Html.ValidationMessageFor(model => model.translationDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.translationText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.translationText)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.translationLanguage, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.translationLanguage, ViewBag.requestLanguage as List<SelectListItem>)
                @Html.ValidationMessageFor(model => model.translationLanguage)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.translationTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.translationTime)
                @Html.ValidationMessageFor(model => model.translationTime)
            </div>
        </div>
        

        @Html.Label("file")<input type="file" name="file" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" id="" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@*
    @using (Html.BeginForm("AddTranslation", "Video", FormMethod.Post, new { enctype = "multipart/form-data", id = "form2"}))
    {
        <input type="file" name="file" />


    }
*@
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

