@model PagedList.IPagedList<TransApp.Models.Translation>
@using PagedList.Mvc;

@{
    ViewBag.Title = "GetTranslationsByVideoId";
}

<h2>GetTranslationsByVideoId</h2>


@Html.ActionLink("Ný þýðing", "AddTranslation", "Video")
<ul>
    <li>@Html.ActionLink("Hasar", "GetVideoByCategory", new { category = "Hasar" })</li>
    <li>@Html.ActionLink("Rómantík", "GetVideoByCategory", new { category = "Rómantík" })</li>
    <li>@Html.ActionLink("Ævintýra", "GetVideoByCategory", new { category = "Ævintýra" })</li>
</ul>

<table class="table table-hover">
    <thead>
        <tr>
            <th>@Html.ActionLink("Nafn", "OrderByName", "Video")</th>
            <th>Tungumál</th>
            <th>@Html.ActionLink("Dagsetning", "OrderByDate", "Video")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.translationName, "GetTranslationsByVideoId", new { id = item.ID })</td>
                <td>@item.translationLanguage</td>
                <td>@item.translationTime</td>
            </tr>
        }
    </tbody>
</table>




Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("GetTranslationsByVideoId", new { page }))

