@model TransApp.ViewModels.TranslationViewModel

@{
    ViewBag.Title = "GetTranslationById";
}

<h2>@Model.Translation.translationName</h2>


@using (Html.BeginForm("GetTranslationById", "Video", new { id = Model.Translation.ID }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Þýðing</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Translation.translationCategory, "Flokkur", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Translation.translationCategory)
                @Html.ValidationMessageFor(model => model.Translation.translationCategory)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Translation.translationName, "Nafn", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Translation.translationName)
                @Html.ValidationMessageFor(model => model.Translation.translationName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Translation.translationDescription, "Lýsing", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Translation.translationDescription)
                @Html.ValidationMessageFor(model => model.Translation.translationDescription)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Translation.translationText, "Þýðing", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Translation.translationText, new { @cols = "80", @rows = "8" })
                @Html.ValidationMessageFor(model => model.Translation.translationText)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Translation.translationLanguage, "Tungumál", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Translation.translationLanguage)
                @Html.ValidationMessageFor(model => model.Translation.translationLanguage)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Vista" class="btn btn-default" />
            </div>
        </div>
    </div>

    <p>Seinast vistað: @Model.Translation.translationTime</p>
}

@using (Html.BeginForm("Download", "Video", new { translation = Model.Translation.translationText, fileName = Model.Translation.translationName, id = Model.Translation.ID }))
{
    <p>

        <input type="submit" value="Sækja" />
    </p>
}

@using (Html.BeginForm("UpdateVotes", "Video", new { id = Model.Translation.ID }))
{
    <ul class="list list-inline" >
        <li>1 @Html.RadioButton("vote", 1, false)</li>
        <li>2 @Html.RadioButton("vote", 2, false)</li>
        <li>3 @Html.RadioButton("vote", 3, false)</li>
        <li>4 @Html.RadioButton("vote", 4, false)</li>
        <li>5 @Html.RadioButton("vote", 5, false)</li>
        <li><input type="submit" value="Gefa einkunn" /></li>
    </ul>

}
<p>Heildareinkunn: @Model.Translation.averageVotes af 5 </p>
<p>@Model.Translation.voteCount atkvæði</p>

<hr />

<ul class="list-group" style="max-width: 560px;">

    @foreach(var item in Model.Comments)
    {
        <li class="list-group-item">
            <p>
                <span class="glyphicon glyphicon-user"></span>
                <span>@item.userName</span>
                <span>@item.commentText</span>
            </p>
            <p>
                <span>@item.commentTime</span>
            </p>
        </li>
    }

    <li class="list-group-item">

        <div class="form-horizontal">
            @using (Html.BeginForm("AddComment", "Video", new { id = Model.Translation.ID }))
            {
                <p>
                    @Html.TextBox("commentText", ViewBag.CurrentFilter as string, new { @class = "form-control", id = "CommentID" })
                    <input type="submit" id="CommhBtnID" value="Senda" disabled="disabled" />
                </p>
            }
        </div>
    </li>

</ul>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}