@model PagedList.IPagedList<TransApp.Models.Translation>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Sjá þýðingu";
}

<div class="row spacer">
    <div class="span4">&nbsp;</div>
    <div class="row text-center">
        @Html.ActionLink("Ný þýðing", "AddTranslation", "Video", new { @class = "btn btn-default btn-lg active" })
    </div>
    <div class="span4">&nbsp;</div>
</div>

<div class="row text-center">
    <ul class="list-inline">
        <li>@Html.ActionLink("Gaman", "GetVideoByCategory", new { category = "Gaman" }, new { @class = "svartur" })</li>
        <li>|</li>
        <li>@Html.ActionLink("Hasar", "GetVideoByCategory", new { category = "Hasar" }, new { @class = "svartur" })</li>
        <li>|</li>
        <li>@Html.ActionLink("Hryllings", "GetVideoByCategory", new { category = "Hryllings" }, new { @class = "svartur" })</li>
        <li>|</li>
        <li>@Html.ActionLink("Rómantík", "GetVideoByCategory", new { category = "Rómantík" }, new { @class = "svartur" })</li>
        <li>|</li>
        <li>@Html.ActionLink("Ævintýra", "GetVideoByCategory", new { category = "Ævintýra" }, new { @class = "svartur" })</li>
    </ul>
</div>
<h2 id="TransName">Þýðingar fyrir @Model[0].translationName</h2>
    <div class="row spacer">
        <div class="span4">&nbsp;</div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th id="TT1">Nafn</th>
                    <th id="TT2">@Html.ActionLink("Tungumál", "GetTranslationsByVideoId", new { id = ViewBag.ID, sortOrder = ViewBag.LanguageSortParm }, new { @class = "svartur" })</th>
                    <th id="TT3">@Html.ActionLink("Dagsetning", "GetTranslationsByVideoId", new { id = ViewBag.ID, sortOrder = ViewBag.DateSortParm }, new { @class = "svartur" })</th>
                    <th id="TT4">@Html.ActionLink("Meðaleinkunn", "GetTranslationsByVideoId", new { id = ViewBag.ID, sortOrder = ViewBag.AverageSortParm }, new { @class = "svartur" })</th>
                    <th id="TT5">@Html.ActionLink("Sótt", "GetTranslationsByVideoId", new { id = ViewBag.ID, sortOrder = ViewBag.DownloadCountSortParm }, new { @class = "svartur" })</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(item.translationName, "GetTranslationById", new { id = item.ID })</td>
                        <td>@item.translationLanguage</td>
                        <td>@item.translationTime</td>
                        @if(item.voteCount == 0)
                        {
                            <td>-</td>
                        }
                        else
                        {
                            <td>@item.averageVotes af 5</td>
                        }
                        <td>@item.downloadCount sinnum</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>



    <p>Síða @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) af @Model.PageCount</p>

    @Html.PagedListPager(Model, page => Url.Action("GetTranslationsByVideoId", new { page }))

