@model PagedList.IPagedList<TransApp.Models.Video>
@using PagedList.Mvc;

@{
    ViewBag.Title = "GetVideoByCategory";
}
<div class="row spacer">
    <div class="span4">&nbsp;</div>
    <div class="row text-center">
        @Html.ActionLink("Ný þýðing", "AddTranslation", "Video", new { id = "newTransLink", @class = "btn btn-default btn-lg active" })
    </div>
</div>

<div id="FrontSearch" class="row text-center">
    @using (Html.BeginForm("SearchEngine", "Video", FormMethod.Get, new { id = "SearchEngine2", @class = "navbar-form navbar-center" }))
    {
        <div class="form-group input-xlarge">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { id = "SearchID", @class = "form-control input-xlarge", @placeholder = "Search" })
        </div>
        <input type="submit" id="SearchBtnID" value="Search" class="btn btn-primary btn-large" disabled="disabled" />
    }
</div>

    <div class="row text-center">
        <ul class="list-inline">
            <li>@Html.ActionLink("Gaman", "GetVideoByCategory", new { category = "Gaman" }, new { @class = "svartur" })</li>
            <li>|</li>
            <li>@Html.ActionLink("Hasar", "GetVideoByCategory", new { category = "Hasar" }, new { @class = "svartur" })</li>
            <li>|</li>
            <li>@Html.ActionLink("Hryllings", "GetVideoByCategory", new { category = "Hryllings" }, new { @class = "svartur" })</li>
            <li>|</li>
            <li>@Html.ActionLink("Rómantík", "GetVideoByCategory", new { category = "Rómantík" }, new { @class = "svartur" })</li>
            <li>|</li>
            <li>@Html.ActionLink("Ævintýra", "GetVideoByCategory", new { category = "Ævintýra" }, new { @class = "svartur" })</li>
        </ul>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.ActionLink("Nafn", "GetVideoByCategory", new { category = Model[0].videoCategory, sortOrder = ViewBag.NameSortParm }, new { @class = "svartur" })</th>
                <th>Flokkur</th>
                <th>@Html.ActionLink("Dagsetning", "GetVideoByCategory", new { category = Model[0].videoCategory, sortOrder = ViewBag.DateSortParm }, new { @class = "svartur" })</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.videoName, "GetTranslationsByVideoId", new { id = item.ID })</td>
                    <td>@Html.ActionLink(item.videoCategory, "GetVideoByCategory", new { category = item.videoCategory })</td>
                    <td>@item.videoTime</td>
                </tr>
            }
        </tbody>
    </table>

    <p>Síða @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) af @Model.PageCount</p>


    @Html.PagedListPager(Model, page => Url.Action("GetVideoByCategory", new { category = Model[0].videoCategory, page, sortOrder = ViewBag.CurrentSort }))

