@model PagedList.IPagedList<TransApp.Models.Video>
@using PagedList.Mvc;

@{
    ViewBag.Title = "GetVideos";
}
<div class="row spacer">
    <div class="span4">&nbsp;</div>
    <div class="row text-center">
        @Html.ActionLink("Ný þýðing", "AddTranslation", "Video", new { @class = "btn btn-default btn-lg active" })
    </div>
</div>

    @using (Html.BeginForm("SearchEngine", "Video", FormMethod.Get))
    {
        <div class="row spacer">
            <div class="span4">&nbsp;</div>
            <div class="row text-center">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { id = "SearchID" })
                <input type="submit" id="SearchBtnID" value="Search" disabled="disabled" />
            </div>
            <div class="span4">&nbsp;</div>
        </div>
    }
    <div class="row text-center">
        <ul class="list-inline">
            <li>@Html.ActionLink("Hasar", "GetVideoByCategory", new { category = "Hasar" })</li>
            <li>@Html.ActionLink("Rómantík", "GetVideoByCategory", new { category = "Rómantík" })</li>
            <li>@Html.ActionLink("Ævintýra", "GetVideoByCategory", new { category = "Ævintýra" })</li>
        </ul>
    </div>

    <div class="row spacer">
        <div class="span4">&nbsp;</div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.ActionLink("Nafn", "GetVideos", new { sortOrder = ViewBag.NameSortParm }, new { @class = "svartur" })</th>
                    <th>Flokkur</th>
                    <th>@Html.ActionLink("Dagsetning", "GetVideos", new { sortOrder = ViewBag.DateSortParm }, new { @class = "svartur" })</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(item.videoName, "GetTranslationsByVideoId", new { id = item.ID })</td>
                        <td>@Html.ActionLink(item.videoCategory, "GetVideoByCategory", new { category = item.videoCategory })</td>
                        <td>@item.videoTime</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
