@model PagedList.IPagedList<TransApp.Models.Video>
@using PagedList.Mvc;

@{
    ViewBag.Title = "GetVideos";
}
<div class="row spacer">
    <div class="span4">&nbsp;</div>
    <div class="row text-center">
        @Html.ActionLink("Ný þýðing", "AddTranslation", "Video", new { id="newTransLink", @class = "btn btn-default btn-lg active" })
    </div>
</div>

<div id="FrontSearch"class="row text-center">
    @using (Html.BeginForm("SearchEngine", "Video", FormMethod.Get, new { id="SearchEngine2", @class = "navbar-form navbar-center" }))
    {
        <div class="form-group input-xlarge">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { id = "SearchID", @class = "form-control input-xlarge", @placeholder = "Leitið hér" })
        </div>
        <input type="submit" id="SearchBtnID" value="Leita" class="btn btn-primary btn-large" disabled="disabled" />
    }
</div>
    <div class="row text-center">
        <ul class="nav nav-tabs nav-justified">
            <li>@Html.ActionLink("Gaman", "GetVideoByCategory", new { category = "Gaman" })</li>
            <li>@Html.ActionLink("Hasar", "GetVideoByCategory", new { category = "Hasar" })</li>
            <li>@Html.ActionLink("Hryllings", "GetVideoByCategory", new { category = "Hryllings" })</li>
            <li>@Html.ActionLink("Rómantík", "GetVideoByCategory", new { category = "Rómantík" })</li>
            <li>@Html.ActionLink("Ævintýra", "GetVideoByCategory", new { category = "Ævintýra" })</li>
        </ul>
    </div>

    <div class="row spacer">
        <div class="span4">&nbsp;</div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.ActionLink("Nafn", "GetVideos", new { sortOrder = ViewBag.NameSortParm }, new { @class = "svartur" })</th>
                    <th>@Html.ActionLink("Flokkur", "GetVideos", new { sortOrder = ViewBag.CategorySortParm }, new { @class = "svartur" })</th>
                    <th>@Html.ActionLink("Dagsetning", "GetVideos", new { sortOrder = ViewBag.DateSortParm }, new { @class = "svartur" })</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(item.videoName, "GetTranslationsByVideoId", new { id = item.ID })</td>
                        <td>@Html.ActionLink(item.videoCategory, "GetVideoByCategory", new { category = item.videoCategory })</td>
                        <td>@item.videoTime</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
