@model TransApp.Models.UserRequest

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h2>Settu inn nýja beiðni</h2>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.requestName, "Nafn", new { @class="control-lable col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.requestName)
                @Html.ValidationMessageFor(model => model.requestName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.requestText, "Lýsing á beiðni", new { @class = "control-lable col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.requestText, new { @cols="80", @rows="8"})
                @Html.ValidationMessageFor(model => model.requestText)
            </div>
        </div>

        <div class="hidden">
            @Html.LabelFor(model => model.requestTime, new { @class = "control-lable col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.requestTime)
                @Html.ValidationMessageFor(model => model.requestTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.requestLanguage, "Tungumál", new { @class = "control-lable col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.requestLanguage, ViewBag.requestLanguage as List<SelectListItem>)
                @Html.ValidationMessageFor(model => model.requestLanguage)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Vista" class="btn btn-default" />
            </div>
        </div>
    </div>
    
    
}
