@model PagedList.IPagedList<TransApp.Models.UserRequest>
@using PagedList.Mvc;

@{
    ViewBag.Title = "GetRequests";
}
<div class="row spacer">
    <div class="span4">&nbsp;</div>
    <div class="row text-center">
        @Html.ActionLink("Ný beiðni", "CreateUserRequest", null, new { @class = "btn btn-default btn-lg active" })
    </div>
    <div class="span4">&nbsp;</div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>@Html.ActionLink("Nafn", "GetRequests", "UserRequest", new { sortOrder = ViewBag.NameSortParm }, new { @class = "svartur" })</th>
            <th>@Html.ActionLink("Tungumál", "GetRequests", "UserRequest", new { sortOrder = ViewBag.LanguageSortParm }, new { @class = "svartur" })</th>
            <th>@Html.ActionLink("Dagsetning", "GetRequests", "UserRequest", new { sortOrder = ViewBag.DateSortParm }, new { @class = "svartur" })</th>
            <th>@Html.ActionLink("Atkvæði", "GetRequests", "UserRequest", new { sortOrder = ViewBag.LikeSortParm }, new { @class = "svartur" })</th>
            <th>Innsendandi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink((string)item.requestName, "GetUserRequestById", new { id = item.ID })</td>
                <td>@item.requestLanguage</td>
                <td>@item.requestTime</td>
                <td>@item.likes</td>
                <td>@item.userName</td>
            </tr>
        }
    </tbody>
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("GetRequests", "UserRequest", new { page, sortOrder = ViewBag.CurrentSort }))


