
@Html.ActionLink("Ný beiðni", "CreateUserRequest")

<table>
    <thead>
        <tr>
            <th>@Html.ActionLink("Nafn", "OrderRequestsByName", "UserRequest")</li>
            <th>LIKE</th>
            <th>@Html.ActionLink("Tungumál", "OrderRequestsByLanguage", "UserRequest")</th>
            <th>@Html.ActionLink("Dagsetning", "OrderRequestsByDate", "UserRequest")</th>
            <th>@Html.ActionLink("Atkvæði", "OrderRequestsByLikes", "UserRequest")</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink((string)item.requestName, "GetUserRequestById", new { id = item.ID})</td>
                <td>@Html.ActionLink("Like", "LikeRequest", new { reqId = item.ID })</td>
                <td>@item.requestLanguage</td>
                <td>@item.requestTime</td>
                <td>@item.likes</td>
            </tr>
        }
    </tbody>
</table>
